# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Miscellaneous
build/*
.vscode
*.aux
*.log
*.gz
*.cls
examples
buildMr.bash
*.toc
*.bbl
*.bbl
*.bcf
*.blg
*.dvi
doc/doc.run.xml
doc/doc.blg
doc/doc.blg
*.bbl
*.blg
